<%- include('includes/header.ejs') %>
</head>
<body>
  <%- include('includes/navbar.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-4">
                    <h2> Add Product</h2>
                       <div class="card-body">
                        <form action="/update-product" method="post">
                            <input type="hidden"name="Id" value="<%= Product.id %>">
                      <div class="mb-3">
                        <label for="item" class="form-label">Item</label>
                        <input type="text" class="form-control"  name="Item" id="item" value="<%= Product.item %>" placeholder="Item">
                      </div>
                      <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" class="form-control"  name="Price" value="<%= Product.price %>" placeholder="Price">
                      </div> 
                      <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="text" class="form-control"  name="Image" value="<%= Product.image %>" placeholder="Image">
                      </div>
                      <div class="mb-3">
                        <label for="image" class="form-label">Description</label>
                      <textarea name="Description" class="form-control" value="<%= Product.description %>" id="" cols="30" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="Discount" class="form-label">Discount</label>
                      <input type="number" class="form-control" id="Discount" value="<%= Product.discount %>" name="Discount" placeholder="Discount">
                    </div> 
                    <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                      </div>
            </div>
            </div>
        </div>
</body>
</html>